env:
  es6: true
  mocha: true
  node: true

extends:
  - eslint:recommended

rules:
  indent: [2, 4]
  no-unused-vars: [2, {vars: all, args: none}]
  object-shorthand: [2, properties]
  no-var: 1
  no-use-before-define: [error, {functions: false, classes: false}]
  prefer-const: 1
